In [68]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

raw_df = pd.read_csv('../data/2021-SxS-Data-and-Data-Info/NFCS 2021 State Data 220627.csv')

## Skinny it Up Some!

In [69]:
skinny_df = raw_df.drop(columns=['A50B', 'E20', 'F2_1','wgt_s3', 'wgt_d2', 'wgt_n2', 'G23',
                                            'A40','A21_2015', 'J10', 'J50', 'J51_1', 'J51_2', 'J51_3', 'J51_4', 'J51_5',
                                            'J51_6', 'J51_98','J51_99', 'J52','J33_40', 'J53', 'J41_1', 'J41_2', 'J41_3',
                                            'J42_2','J43', 'B4', 'B41_1', 'B41_2', 'B31', 'B42', 'B43', 'C2_2012', 'C3_2012',
                                            'C10_2012','C11_2012', 'E7', 'E8', 'E20', 'E15_2015', 'F2_1', 'F2_2', 'F2_3',
                                            'F2_4', 'F2_5', 'F2_6', 'G1', 'G20', 'G30_1', 'G30_2','G30_3', 'G30_4', 'G30_5',
                                            'G30_97',  'G30_98','G30_99',  'G33', 'G35', 'G25_1', 'G25_2', 'G25_3', 'G25_4',
                                            'G25_5', 'H30_1','H30_2', 'M21_1', 'M21_2_2015', 'M21_3', 'M21_4', 'NFCSID', 'X3',
                                            'J2', 'J8', 'J9', 'J20', 'G22_2015', 'G38', 'M6', 'M7','M8', 'M31', 'M50', 'M9', 'M10',
                                            'A14', 'C5_2012'])

## Transforming Data set for better analysis
All categories have been mapped to numerical values. I decided to map the numeric values back to the original categorical values to help me read the data better. To do this I needed to change the column names as well as the values of each column.

In [70]:
#Batch change column names
#Get current column "names"
col_codes= skinny_df.columns

#Create list with meaningful column names
col_names = ['state', 'division', 'region', 'gender', 'age_group', 'ethnicity', 
            'ed_lvl', 'marital_stat','lvng_arr','marital_stat_v2', '#_dep_chlds', 'hh_ann_inc', 'mil_stat', 'wrk_stat', 'ptr_wrk_stat', 
            'hh_ret_stat','caregiver_ed_lvl', 'fin_sat_lvl', 'spend_vs_income', 'bill_difficulty', 'income_var',
            'rainyday_fund', 'child_ed_svng', 'credit_rtg', 'mnthly_leftovers', 'checking_acct', 'saving_acct','ret_plan',
            'ira', 'invests', 'owns_home', 
            '10k_expense', '10k_gift', 'expect_inheritance', 'num_cred_cards', 'health_ins', 'skipped_med', 'fin_conf_lvl',
            'math_conf_lvl', 'knowledge_conf_lvl', 'fin_ed'
            ]

cols_final = dict(zip(col_codes, col_names))
#replace column names 
updated_cols_df = skinny_df.rename(columns= cols_final)

In [71]:
len(col_names)

41

In [72]:
updated_cols_df.head()

,state,division,region,gender,age_group,ethnicity,ed_lvl,marital_stat,lvng_arr,marital_stat_v2,...,10k_expense,10k_gift,expect_inheritance,num_cred_cards,health_ins,skipped_med,fin_conf_lvl,math_conf_lvl,knowledge_conf_lvl,fin_ed
0,41,5,3,2,2,1,6,1,2,1,...,1,1,1,2,1,2,7,6,6,2
1,36,3,2,2,2,1,6,4,1,3,...,2,2,2,7,1,2,1,1,2,2
2,3,8,4,1,6,1,6,4,1,3,...,2,2,2,3,1,2,7,7,6,2
3,3,8,4,2,4,2,2,1,2,1,...,2,2,2,2,1,2,7,6,5,3
4,36,3,2,2,4,1,3,4,1,3,...,2,2,98,7,1,2,6,6,5,3

In [73]:
#State: replace numeric value for actual state name
#States are mapped 1-51 in Ascending alphabetic order. District Of Columbia is 9.

#Create Dictionary {num:state_name} ie.) {1 : Alaska}
state_names = ["Alabama", "Alaska",  "Arizona","Arkansas",  "California", "Colorado", "Connecticut", 
                "Delaware","District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Iowa",  "Illinois", "Indiana", 
                "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", 
                "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", 
                "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", 
                "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]

state_names.sort()

state_num_vals = list(range(1,52))

state_dict = dict(zip(state_num_vals, state_names))

#Replace all numerical values with state names
updated_cols_df['state']=updated_cols_df['state'].replace(state_dict)

In [74]:
#Census Division
# Total of 9 Divisions

#Create division dictionary
div_num_vals = list(range(1,10))
div_names = ['New England', 'Middle Atlantic','East North Central', 'West North Central', 
            'South Atlantic', 'East South Central', 'West South Central', 'Mountain', 'Pacific']

div_dict = dict(zip(div_num_vals, div_names))

#Replace all numerical values with division names
updated_cols_df['division']=updated_cols_df['division'].replace(div_dict)

In [75]:
#Census Region
#Total of 4 Regions

#Create region dictionary
region_names = ['Northeast', 'Midwest', 'South', 'West']
region_num_vals = list([1,2,3,4])
reg_dict = dict(zip(region_num_vals, region_names))

#Replace all numerical values with region names
updated_cols_df['region']=updated_cols_df['region'].replace(reg_dict)

In [76]:
#Gender
updated_cols_df['gender']= updated_cols_df['gender'].replace({1: 'male', 2: 'female'})

#Age Group
age_dict = dict ({1: '18-24', 2: '25-34', 3: '35-44', 4: '45-54',
                    5: '55-64', 6: '65+'})
updated_cols_df['age_group']= updated_cols_df['age_group'].replace(age_dict)

In [77]:
#ethnicity 
updated_cols_df['ethnicity']= updated_cols_df['ethnicity'].replace({1: 'white', 2: 'non-white'})

In [78]:
#education level
ed_labels = ['did not complete HS', 'HS Grad', 'GED', 'some college', 'Associates', 'Bachelors', 'Post Grad', 'declined']
ed_vals = [1,2,3,4,5,6,7,99]
ed_dict = dict(zip(ed_vals, ed_labels))
updated_cols_df['ed_lvl']= updated_cols_df['ed_lvl'].replace(ed_dict)

In [79]:
#Def function to replace values in column

def change_cat_vals(df, c_name, vals, labels):
    new_df = df.copy()
    replace_dict = dict(zip(vals, labels))
    new_df[c_name]=new_df[c_name].replace(replace_dict)
    return new_df

In [80]:
#marital status
marital_vals = [1,2,3,4,5,99]
marital_labels = ['married', 'single', 'separated', 'divorced', 'widowed/widower', 'declined']
married_col = change_cat_vals(updated_cols_df, 'marital_stat', marital_vals, marital_labels)

In [81]:
#marital status vs
v2_vals = [1,2,3]
v2_labels = ['married', 'lvng w/ ptr', 'single']
married_v2 = change_cat_vals(married_col, 'marital_stat_v2', v2_vals, v2_labels)

In [82]:
#num child deps
dep_vals = [1,2,3,4,5,6,99]
dep_labels = [1,2,3,4,0,0, 'declined']
child_dep_df = change_cat_vals(married_v2, '#_dep_chlds', dep_vals, dep_labels)

In [83]:
#Household Annual Income == hh_ann_inc
#1st number is inclusive second number is not
inc_vals =[1,2,3,4,5,6,7,8,9,10,98,99]
inc_labels = ['<= 15k', '15k-25k', '25k-35k', '35k-50k', '50k-75k', '75k-100k', '100k-150k', '150k-200k', '200k-300k', '>=300k']
hh_inc_df = change_cat_vals(child_dep_df, 'hh_ann_inc', inc_vals, inc_labels)

In [84]:
#Military Status
mil_vals = [1,2,3,99]
mil_labels = ['current', 'previous','never', 'declined']
mil_df = change_cat_vals(hh_inc_df, 'mil_stat', mil_vals, mil_labels)

In [85]:
#Work/Employment Status
wrk_vals = [1,2,3,4,5,6,7,8,99]
wrk_labels = ['self-employed', 'full-time', 'part-time', 'homemaker', 'student', 'unable', 'unemployed', 'retired', 'declined']
wrk_df = change_cat_vals(mil_df, 'wrk_stat', wrk_vals, wrk_labels)

In [86]:
## Household Retirement Status
#True for if either self or spouse is retired
ret_vals = [1,2,3]
ret_labels = [False, True, True ]
ret_df = change_cat_vals(wrk_df,'hh_ret_stat', ret_vals, ret_labels)

/var/folders/t6/vtfks7dd2t9gw7pq2601sfcw0000gn/T/ipykernel_68897/1471404346.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  new_df[c_name]=new_df[c_name].replace(replace_dict)

In [87]:
#Caregiver Education Level
ed2_df = change_cat_vals(ret_df, 'caregiver_ed_lvl', ed_vals, ed_labels)

In [88]:
#Financial Satisfaction Level
sat_val = [1,2,3,4,5,6,7,8,9,10,98,99]
sat_label = [1,2,3,4,5,6,7,8,9,10, 'unknown', 'declined']
fsat_df = change_cat_vals(ed2_df, 'fin_sat_lvl', sat_val, sat_label)

In [89]:
#Spending VS Income
s_vals =[1,2,3,98,99] 
s_labels = ['less', 'more', 'equal', 'unknown', 'declined']
svi_df = change_cat_vals(fsat_df, 'spend_vs_income', s_vals, s_labels)

In [90]:
#How difficult is it to cover bills
b_vals = [ 1,2,3,98,99]
b_labels = ['very', 'somewhat', 'none', 'unknown', 'declined']
bill_df = change_cat_vals(svi_df, 'bill_difficulty', b_vals, b_labels)

In [91]:
#income variability
iv_vals = [1,2,3,98,99]
iv_labels = ['same', 'occasional','often', 'unknown', 'declined']
iv_df = change_cat_vals(bill_df, 'income_var', iv_vals, iv_labels)

In [92]:
#Has established rainy day fund covers 3 months of expenses
r_vals = [1,2,98,99]
r_labels= [True, False, 'unknown', 'declined']
rd_df = change_cat_vals(iv_df, 'rainyday_fund', r_vals, r_labels)

In [99]:
temp_df = rd_df.copy()
temp_df.to_csv('../data/2021-SxS-Data-and-Data-Info/partial_cleaned_2021.csv')

In [94]:
#Spouse/Partner Work/Emplyment Status
##NEED TO FIX! Not converting
p_wrk_vals = [1,2,3,4,5,6,7,8,99]
p_wrk_labels = ['self-employed', 'full-time', 'part-time', 'homemaker', 'student', 'unable', 'unemployed', 'retired', 'declined']
ptr_wrk_df = change_cat_vals(wrk_df, 'ptr_wrk_stat', p_wrk_vals, p_wrk_labels)

In [95]:
#Most Knolwedgable about saving, investing etc 
k_vals = [1,2,3,98,99, ' ']
k_labels = ['self', 'other', 'equal', 'unknown', 'declined', 'declined']
k_df = change_cat_vals(ret_df,'knowledge_owner', k_vals, k_labels)

KeyError: 'knowledge_owner'