In [1]:
#Module Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [15]:
#Data Imports
data = pd.read_csv('../data/2021-SxS-Data-and-Data-Info/partial_cleaned_2021.csv')
data= data.drop(columns='Unnamed: 0')

In [16]:
#Create subset with only the 8 states
eight_state_df = data.query("state in ['Alabama', 'California','District of Columbia','Massachusetts', 'Oregon','Washington','West Virginia', 'Wisconsin']")

eight_state_df

,state,division,region,gender,age_group,ethnicity,ed_lvl,marital_stat,lvng_arr,marital_stat_v2,...,10k_expense,10k_gift,expect_inheritance,num_cred_cards,health_ins,skipped_med,fin_conf_lvl,math_conf_lvl,knowledge_conf_lvl,fin_ed
5,West Virginia,South Atlantic,South,female,45-54,white,HS Grad,divorced,3,single,...,2,2,1,2,1,2,2,2,2,3
13,West Virginia,South Atlantic,South,female,55-64,white,Bachelors,divorced,1,single,...,2,2,98,7,1,2,7,7,7,3
21,Alabama,East South Central,South,female,25-34,white,GED,single,1,single,...,2,2,2,6,2,2,7,7,7,3
22,Wisconsin,East North Central,Midwest,male,45-54,white,some college,divorced,1,single,...,2,2,2,3,1,2,3,5,5,3
23,Massachusetts,New England,Northeast,female,65+,white,Associates,divorced,1,single,...,2,2,1,3,1,2,7,7,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27094,Oregon,Pacific,West,female,65+,non-white,Bachelors,divorced,1,single,...,2,2,1,2,1,1,7,7,6,3
27097,California,Pacific,West,female,25-34,non-white,Post Grad,married,4,married,...,2,2,2,3,1,1,5,7,5,3
27110,District of Columbia,South Atlantic,South,female,18-24,non-white,Bachelors,single,1,single,...,1,2,98,1,1,2,5,6,4,98
27111,Oregon,Pacific,West,female,18-24,non-white,Post Grad,single,4,single,...,1,2,1,2,1,2,6,6,4,3
27116,District of Columbia,South Atlantic,South,female,18-24,white,GED,single,1,single,...,2,2,2,7,1,2,5,6,4,3

In [ ]:
('state' in ['Alabama', 'California', 'District of Columbia','Massachusetts', 'Oregon',
                                    'Washington','West Virginia', 'Wisconsin' ])