In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

_2021_raw = pd.read_csv('../data/2021-SxS-Data-and-Data-Info/NFCS 2021 State Data 220627.csv')

In [4]:
#Drop Respondant ID column
no_id_2021 = _2021_raw.drop(columns='NFCSID')

In [27]:
#StateQ = State: replace numeric value for actual state name
#States are mapped 1-51 in Ascending alphabetic order. District Of Columbia is 9.
state_names_df = no_id_2021.rename(columns={'STATEQ': 'state'})
#Create Dictionary {num:state_name} ie.) {1 : Alaska}
state_names = ["Alabama", "Alaska",  "Arizona","Arkansas",  "California", "Colorado", "Connecticut", 
"Delaware","District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Iowa",  "Illinois", "Indiana", 
"Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", 
"Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", 
"New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", 
"South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]

state_names.sort()

state_num_vals = list(range(1,52))

state_dict = dict(zip(state_num_vals, state_names))

state_names_df['state']=state_names_df['state'].replace(state_dict)

In [26]:
state_names_df.head()

,state,CENSUSDIV,CENSUSREG,A50A,A3Ar_w,A50B,A4A_new_w,A5_2015,A6,A7,...,M6,M7,M8,M31,M50,M9,M10,wgt_n2,wgt_d2,wgt_s3
0,South Carolina,5,3,2,2,8,1,6,1,2,...,1,3,2,2,2,1,2,0.834316,0.539386,0.725252
1,Ohio,3,2,2,2,8,1,6,4,1,...,98,98,98,98,98,1,98,1.083618,1.075806,0.930410
2,Arizona,8,4,1,6,6,1,6,4,1,...,1,3,98,3,1,1,2,0.396368,2.123406,0.944175
3,Arizona,8,4,2,4,10,2,2,1,2,...,1,98,98,1,1,1,2,0.374328,2.372112,1.011643
4,Ohio,3,2,2,4,10,1,3,4,1,...,1,98,98,98,98,98,98,1.362034,1.159651,0.907194