In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

raw_df = pd.read_csv('../data/2021-SxS-Data-and-Data-Info/NFCS 2021 State Data 220627.csv')

## Skinny it Up Some!

In [2]:
skinny_df = raw_df.drop(columns=['A50B', 'E20', 'F2_1','wgt_s3', 'wgt_d2', 'wgt_n2', 'G23',
                                            'A40','A21_2015', 'J10', 'J50', 'J51_1', 'J51_2', 'J51_3', 'J51_4', 'J51_5',
                                            'J51_6', 'J51_98','J51_99', 'J52','J33_40', 'J53', 'J41_1', 'J41_2', 'J41_3',
                                            'J42_2','J43', 'B4', 'B41_1', 'B41_2', 'B31', 'B42', 'B43', 'C2_2012', 'C3_2012',
                                            'C10_2012','C11_2012', 'E7', 'E8', 'E20', 'E15_2015', 'F2_1', 'F2_2', 'F2_3',
                                            'F2_4', 'F2_5', 'F2_6', 'G1', 'G20', 'G30_1', 'G30_2','G30_3', 'G30_4', 'G30_5',
                                            'G30_97',  'G30_98','G30_99',  'G33', 'G35', 'G25_1', 'G25_2', 'G25_3', 'G25_4',
                                            'G25_5', 'H30_1','H30_2', 'M21_1', 'M21_2_2015', 'M21_3', 'M21_4', 'NFCSID', 'X3',
                                            'J2', 'J8', 'J9', 'J20', 'G22_2015', 'G38'])

## Transforming Data set for better analysis
All categories have been mapped to numerical values. I decided to map the numeric values back to the original categorical values to help me read the data better. To do this I needed to change the column names as well as the values of each column.

In [3]:
#Batch change column names
#Get current column "names"
col_codes= skinny_df.columns

#Create list with meaningful column names
col_names = ['state', 'division', 'region', 'gender', 'age_group', 'ethnicity', 
            'ed_lvl', 'marital_stat','lvng_arr','marital_stat_v2', '#_dep_chlds', 'hh_ann_ inc', 'mil_stat', 'wrk_stat', 'ptr_wrk_stat', 
            'hh_ret_stat','knowledge_owner','caregiver_ed_lvl', 'finacial_sat_lvl', 'spending_lvl', 'bill_difficulty', 'ptr_income_comp',
            'rainyday_fund', 'child_ed_svng', 'credit_rtg', 'mnthly_leftovers', 'checking_acct', 'saving_acct','ret_plan',
            'ira', 'contributes_to_ret', 'invests', 'owns_home', 
            '10k_expense', '10k_gift', 'expect_inheritance', 'num_cred_cards', 'health_ins', 'skipped_med', 'fin_conf_lvl',
            'math_conf_lvl', 'knowledge_conf_lvl', 'fin_ed', 'Q1', 'Q2', 'Q3', 'Q4','Q5', 'Q6', 'Q7'
            ]

cols_final = dict(zip(col_codes, col_names))
#replace column names 
updated_cols_df = skinny_df.rename(columns= cols_final)

In [4]:
updated_cols_df.head()

,state,division,region,gender,age_group,ethnicity,ed_lvl,marital_stat,lvng_arr,marital_stat_v2,...,math_conf_lvl,knowledge_conf_lvl,fin_ed,Q1,Q2,Q3,Q4,Q5,Q6,Q7
0,41,5,3,2,2,1,6,1,2,1,...,6,6,2,1,3,2,2,2,1,2
1,36,3,2,2,2,1,6,4,1,3,...,1,2,2,98,98,98,98,98,1,98
2,3,8,4,1,6,1,6,4,1,3,...,7,6,2,1,3,98,3,1,1,2
3,3,8,4,2,4,2,2,1,2,1,...,6,5,3,1,98,98,1,1,1,2
4,36,3,2,2,4,1,3,4,1,3,...,6,5,3,1,98,98,98,98,98,98

In [5]:
#State: replace numeric value for actual state name
#States are mapped 1-51 in Ascending alphabetic order. District Of Columbia is 9.

#Create Dictionary {num:state_name} ie.) {1 : Alaska}
state_names = ["Alabama", "Alaska",  "Arizona","Arkansas",  "California", "Colorado", "Connecticut", 
                "Delaware","District of Columbia", "Florida", "Georgia", "Hawaii", "Idaho", "Iowa",  "Illinois", "Indiana", 
                "Kansas", "Kentucky", "Louisiana", "Massachusetts", "Maryland", "Maine", "Michigan", "Minnesota", "Missouri", 
                "Mississippi", "Montana", "North Carolina", "North Dakota", "Nebraska", "New Hampshire", "New Jersey", 
                "New Mexico", "Nevada", "New York", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", 
                "South Dakota", "Tennessee", "Texas", "Utah", "Virginia", "Vermont", "Washington", "Wisconsin", "West Virginia", "Wyoming"]

state_names.sort()

state_num_vals = list(range(1,52))

state_dict = dict(zip(state_num_vals, state_names))

#Replace all numerical values with state names
updated_cols_df['state']=updated_cols_df['state'].replace(state_dict)

In [6]:
#Census Division
# Total of 9 Divisions

#Create division dictionary
div_num_vals = list(range(1,10))
div_names = ['New England', 'Middle Atlantic','East North Central', 'West North Central', 
            'South Atlantic', 'East South Central', 'West South Central', 'Mountain', 'Pacific']

div_dict = dict(zip(div_num_vals, div_names))

#Replace all numerical values with division names
updated_cols_df['division']=updated_cols_df['division'].replace(div_dict)

In [7]:
#Census Region
#Total of 4 Regions

#Create region dictionary
region_names = ['Northeast', 'Midwest', 'South', 'West']
region_num_vals = list([1,2,3,4])
reg_dict = dict(zip(region_num_vals, region_names))

#Replace all numerical values with region names
updated_cols_df['region']=updated_cols_df['region'].replace(reg_dict)

In [9]:
#Gender
updated_cols_df['gender']= updated_cols_df['gender'].replace({1: 'male', 2: 'female'})

#Age Group
age_dict = dict ({1: '18-24', 2: '25-34', 3: '35-44', 4: '45-54',
                    5: '55-64', 6: '65+'})
updated_cols_df['age_group']= updated_cols_df['age_group'].replace(age_dict)

In [11]:
#ethnicity 
updated_cols_df['ethnicity']= updated_cols_df['ethnicity'].replace({1: 'white', 2: 'non-white'})

In [12]:
#education level
ed_labels = ['did not complete HS', 'HS Grad', 'GED', 'some college', 'Associates', 'Bachelors', 'Post Grad', 'declined']
ed_vals = [1,2,3,4,5,6,7,99]
ed_dict = dict(zip(ed_vals, ed_labels))
updated_cols_df['ed_lvl']= updated_cols_df['ed_lvl'].replace(ed_dict)

In [13]:
#Def function to replace values in column

def change_cat_vals(df, c_name, vals, labels):
    new_df = df.copy()
    replace_dict = dict(zip(vals, labels))
    new_df[c_name]=new_df[c_name].replace(replace_dict)
    return new_df

In [14]:
#marital status
marital_vals = [1,2,3,4,5,99]
marital_labels = ['married', 'single', 'separated', 'divorced', 'widowed/widower', 'declined']
married_col = change_cat_vals(updated_cols_df, 'marital_stat', marital_vals, marital_labels)

In [15]:
#marital status vs
v2_vals = [1,2,3]
v2_labels = ['married', 'lvng w/ ptr', 'single']
married_v2 = change_cat_vals(married_col, 'marital_stat_v2', v2_vals, v2_labels)

In [16]:
#num child deps
dep_vals = [1,2,3,4,5,6,99]
dep_labels = [1,2,3,4,0,0, 'declined']
child_dep_col = change_cat_vals(married_v2, '#_dep_chlds', dep_vals, dep_labels)